# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables / secrets
.env

# Streamlit cache
.streamlit/secrets.toml

# Build artifacts
build/
dist/
*.egg-info/

# Temporary files
temp/
tmp/

# AWS credentials (IMPORTANT)
.aws/

# Ignore local databases
*.sqlite3

# Ignore deployment artifacts
*.tar
*.gz